# Auto detect text files and perform LF normalization
* text=auto

# Source code
*.ts text eol=lf
*.js text eol=lf
*.json text eol=lf
*.md text eol=lf

# Scripts
*.sh text eol=lf

# Archives
*.vsix binary
